---
import * as path from "node:path";
import { getCollection } from "astro:content";

import type { Lang } from "../../../type";
import { frontmattersSignal } from "../../../state/server-only/frontmatters";
import LayoutBase from "../../../layouts/LayoutBase.astro";
import { h1 as H1 } from "../../../components/prose";
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";

export async function getStaticPaths() {
  const docEntries = await getCollection("docs");
  return docEntries.map((entry) => {
    const [lang, ...fragments] = entry.slug.split("/");
    const absSlug = path.posix.join("/", entry.slug);
    const slug = fragments.join("/");
    frontmattersSignal.value = {
      ...frontmattersSignal.value,
      [absSlug]: entry.data,
    };
    return {
      params: { lang, slug },
      props: { entry },
    };
  });
}

const lang = Astro.params.lang as Lang;
const { entry } = Astro.props;
const { emoji, title, description } = entry.data;
const { Content } = await entry.render();
---

<LayoutBase lang={lang} title={title}>
  <div class="flex">
    <LeftSidebar lang={lang}/>
    <div class="mx-auto basis-200 shrink">
      <article class="m-4 flex flex-col text-slate-700">
        <H1>
          <span class="mr-2 text-[1.2em]">{emoji}</span>{title}
        </H1>
        {description && <p class="my-4 text-xl text-gray">{description}</p>}
        <Content />
      </article>
    </div>
  </div>
</LayoutBase>
