---
import type { GetStaticPaths, Page } from "astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { format } from "date-fns";
import locale from "date-fns/locale/ko/index.js";
import LayoutKo from "~/layouts/LayoutKo.astro";
import * as prose from "~/components/prose";
import names from "~/content/blog/_names.yaml";
import ProfileImage from "~/components/blog/ProfileImage.astro";

interface Props {
  page: Page;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  return paginate(
    (await getCollection("blog"))
      .filter(
        (entry) =>
          !entry.data.draft ||
          import.meta.env.DEV ||
          import.meta.env.VERCEL_ENV === "preview",
      )
      .sort((a, b) => +b.data.date - +a.data.date),
    { pageSize: 10 },
  );
};

const { page } = Astro.props;
---

<LayoutKo title="PortOne 기술 블로그" slug={`blog/${page}`}>
  <div class="text-slate-7 max-w-900px mx-auto my-4 flex min-h-full flex-col">
    <div class="pt-10px flex-1">
      <prose.h1 class="px-4 pb-4 md:px-6 md:pb-6">PortOne 기술 블로그</prose.h1>
      {
        page.data.length > 0 ? (
          <dl class="mx-auto flex shrink flex-col text-left">
            {page.data.map(({ slug, data }) => {
              const { author } = data;
              const name = names[author] || author;
              return (
                <a
                  class="hover:bg-slate-1 grid grid-cols-1 items-center gap-4 p-4 sm:grid-cols-[4rem_1fr] md:grid-cols-[6rem_1fr] md:gap-6 md:px-6"
                  href={`/blog/${slug}`}
                >
                  <ProfileImage>
                    <Image
                      src={`https://github.com/${author}.png`}
                      alt={`Avatar image of ${name}`}
                      width={192}
                      height={192}
                      class="bg-slate-2 h-4rem w-4rem md:h-6rem md:w-6rem hidden rounded-full sm:block"
                    />
                  </ProfileImage>
                  <div class="flex h-full flex-col justify-between gap-2">
                    <div class="flex flex-col gap-1">
                      <dt class="text-2xl font-medium">
                        {data.title}
                        {data.draft && (
                          <span class="text-slate-4 font-normal">(Draft)</span>
                        )}
                      </dt>
                      <dd>{data.description}</dd>
                    </div>
                    <span>{format(data.date, "yyyy. M. d.", { locale })}</span>
                  </div>
                </a>
              );
            })}
          </dl>
        ) : (
          <div>게시글이 없습니다.</div>
        )
      }
    </div>
    <div class="flex items-center py-4">
      {
        page.currentPage > 1 ? (
          <a
            href={`/blog/${page.currentPage - 1}`}
            class="flex w-8 items-center justify-center"
          >
            <i class="i-ic-baseline-chevron-left text-slate-5 inline-block text-2xl" />
          </a>
        ) : (
          <div class="w-8" />
        )
      }
      <div class="text-slate-6 text-lg">
        {page.currentPage}
      </div>
      {
        page.currentPage < page.lastPage ? (
          <a
            href={`/blog/${page.currentPage + 1}`}
            class="flex w-8 items-center justify-center"
          >
            <i class="i-ic-baseline-chevron-right text-slate-5 inline-block text-2xl" />
          </a>
        ) : (
          <div class="w-8" />
        )
      }
    </div>
  </div>
</LayoutKo>
