---
import type { ReleaseNote } from "~/misc/releaseNote";

import NoteList from "./NoteList.astro";

interface Props {
  consoleNotes: ReleaseNote[];
  apiSdkNotes: ReleaseNote[];
  platformNotes: ReleaseNote[];
  activeSlug?: string;
}

const { consoleNotes, apiSdkNotes, platformNotes, activeSlug } = Astro.props;
---

<nav>
  <ul class="flex flex-col gap-1 p-2 py-4">
    <NoteList notes={consoleNotes} title="관리자콘솔" activeSlug={activeSlug} />
    <NoteList notes={apiSdkNotes} title="API / SDK" activeSlug={activeSlug} />
    {
      platformNotes.length > 0 && (
        <NoteList
          notes={platformNotes}
          title="파트너 정산 자동화"
          activeSlug={activeSlug}
        />
      )
    }
  </ul>
</nav>
