---
import { format } from "date-fns";

import { JustLink } from "~/layouts/sidebar/LeftSidebarItem";
import type { ReleaseNote } from "~/misc/releaseNote";

interface Props {
  title: string;
  notes: ReleaseNote[];
  activeSlug?: string | undefined;
}

const { title, notes, activeSlug } = Astro.props;
---

<li>
  <h4 class="p-2 text-lg font-bold first:mt-0">{title}</h4>
  <ul class="flex flex-col gap-1">
    {
      notes.map((note) => {
        const noteTitle = `${format(note.entry.data.releasedAt, "yyyy-MM-dd")} 업데이트`;
        const isActive = activeSlug ? note.slug === activeSlug : false;
        const href = `/release-notes/${note.slug}`;
        return (
          <li>
            <JustLink
              client:visible
              title={noteTitle}
              href={href}
              isActive={isActive}
              event={{
                name: "Developers_Releasenote_Menu_Click",
                props: { slug: note.slug },
              }}
            />
          </li>
        );
      })
    }
  </ul>
</li>
