---
import { match, P } from "ts-pattern";

import type { ReleaseNote } from "~/misc/releaseNote";

import NoteFolder from "./NoteFolder";
import NoteListItem from "./NoteListItem.astro";

interface Props {
  title: string;
  notes: ReleaseNote[];
  activeSlug: string | undefined;
}

const { title, notes: _notes, activeSlug } = Astro.props;
const [notes, noteMap] = _notes.reduce(
  (acc, note) => {
    const [notes, noteMap] = acc;
    match(note.slug.split("/"))
      .with([P.string, P.string, P.string], ([prefix, directory]) => {
        const path = `${prefix}/${directory}`;
        if (!noteMap.has(path)) {
          noteMap.set(path, {
            title: `${directory}년 업데이트`,
            notes: [note],
          });
        } else {
          noteMap.get(path)!.notes.push(note);
        }
      })
      .with([P.string, P.string], () => {
        notes.push(note);
      })
      .otherwise(() => {
        console.error(`Invalid slug: ${note.slug}`);
      });
    return acc;
  },
  [
    [] as ReleaseNote[],
    new Map<string, { title: string; notes: ReleaseNote[] }>(),
  ],
);
---

<li>
  <h4 class="p-2 text-lg font-bold first:mt-0">{title}</h4>
  <ul class="flex flex-col gap-1">
    {notes.map((note) => <NoteListItem note={note} activeSlug={activeSlug} />)}
    {
      Array.from(noteMap.entries()).map(([path, { notes, title }]) => {
        return (
          <li>
            <NoteFolder
              title={title}
              path={path}
              activeSlug={activeSlug}
              client:visible
            >
              {notes.map((note) => (
                <NoteListItem note={note} activeSlug={activeSlug} />
              ))}
            </NoteFolder>
          </li>
        );
      })
    }
  </ul>
</li>
