---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { match, P } from "ts-pattern";

import PostList from "~/components/blog/PostList/PostList.astro";
import ProfileImage from "~/components/blog/ProfileImage.astro";
import * as prose from "~/components/blog/prose";
import TagList from "~/components/blog/TagList.astro";
import TableOfContents, {
  itemsFromHeadings,
} from "~/components/TableOfContents";
import authors from "~/content/blog/_authors.yaml";
import LayoutBase from "~/layouts/LayoutBase.astro";
// import NavigationMenu from "~/components/blog/NavigationMenu";

const { slug } = Astro.params;
const entries = await getCollection("blog").then((entries) =>
  entries.sort((a, b) => b.data.date.getTime() - a.data.date.getTime()),
);
const entry = entries.find((entry) => entry.slug === slug);
if (!entry) return new Response(null, { status: 404 });

const { title, description, author: authorId } = entry.data;
const { Content, headings } = await entry.render();

const author = authors[authorId];
---

<LayoutBase
  lang="ko"
  title={`${title} - PortOne 기술블로그`}
  description={description}
  navAsMenu
  slug={`blog/${entry.slug}`}
  ogType="article"
  ogImageSlug={`blog/posts/${entry.slug}.png`}
>
  <Fragment slot="head">
    <link
      rel="alternate"
      type="application/rss+xml"
      title="PortOne 기술 블로그"
      href={`${Astro.site}blog/rss.xml`}
    />
  </Fragment>
  <div class="mx-auto max-w-[1150px] break-keep [&_a]:break-keep">
    <!--
    <div
      class="<lg:max-w-[800px] mx-auto my-4 flex items-center justify-between px-4 md:px-6"
    >
      <a href="/blog" class="text-base font-medium text-portone md:text-sm">
        <i class="i-ic-baseline-keyboard-backspace inline-block"></i>
        Posts
      </a>
      <NavigationMenu client:visible activeTag="전체보기" class="md:hidden" />
    </div>
    -->
    <article
      class="w-full flex flex-col gap-6 text-17px text-slate-7 <lg:mx-auto md:my-4"
    >
      <div
        class="mx-auto max-w-[800px] w-full flex flex-col gap-3 px-4 lg:max-w-none md:px-6"
      >
        <a
          href="/blog"
          class="mb-4 w-fit flex items-center gap-1 text-sm text-slate-5 font-medium transition-colors hover:text-slate-7"
        >
          <i class="i-material-symbols-arrow-left-alt inline-block"></i>
          블로그 목록
        </a>
        <h1 class="break-keep text-balance text-3xl font-bold leading-[1.4]">
          {title}
        </h1>
        <div class="flex items-center gap-3">
          {
            author && (
              <dl class="flex shrink-0 items-center gap-4 <md:py-2">
                <div class="flex justify-evenly gap-3 whitespace-nowrap">
                  <dt class="text-lg text-slate-8 font-semibold">
                    {author.name}
                  </dt>
                  <dd class="text-lg text-slate-5">{author.role}</dd>
                </div>
              </dl>
            )
          }
          <div class="h-16px w-1px bg-slate-3"></div>
          <div class="text-lg text-slate-4">
            {format(entry.data.date, "MMM d, yyyy")}
          </div>
        </div>
      </div>
      <div class="flex justify-between gap-9">
        <div
          class="max-w-[800px] min-w-0 flex flex-col gap-3 px-4 <lg:mx-auto md:px-6"
        >
          <div class="body break-keep text-slate-7">
            <Content components={prose} />
            <style>
              article .body :global(:is(ol, ul)) {
                margin-top: 32px;
                margin-bottom: 32px;
              }

              article .body :global(ol) > :global(li:has(:is(ol, ul))) {
                margin-top: 10px;
                margin-bottom: 10px;
              }

              article .body :global(:is(ol, ul)) :global(:is(ol, ul)) {
                margin-top: 10px;
                margin-bottom: 10px;
              }

              article .body :global(:is(pre.shiki, figure)) {
                margin: 40px 0;
              }
            </style>
          </div>
          <div class="my-6">
            <TagList tags={entry.data.tags} />
          </div>
          <hr />
          {
            author && (
              <div class="flex gap-5">
                <div class="flex-shrink-0">
                  <ProfileImage>
                    <Image
                      src={`https://github.com/${authorId}.png`}
                      alt={`Avatar image of ${author.name}`}
                      width={64}
                      height={64}
                      class="h-16 w-16 rounded-full bg-slate-2"
                    />
                  </ProfileImage>
                </div>
                <div class="flex flex-col gap-4.5">
                  <div class="flex items-center gap-3">
                    <div class="text-lg text-slate-7 font-medium">
                      {author.name}
                    </div>
                    <div class="text-base text-slate-4 font-medium">
                      {author.role}
                    </div>
                  </div>
                  <p>{author.bio}</p>
                  {(author.contacts?.length ?? 0) > 0 && (
                    <ul class="m-0 flex flex-row list-none gap-6 p-0 text-2xl">
                      {author.contacts?.map((contact) => (
                        <li class="text-slate-4 transition-colors hover:text-slate-5">
                          {match(contact)
                            .with({ github: P.string }, ({ github }) => (
                              <a
                                href={github}
                                aria-label={`GitHub account of ${author.name}`}
                                class="i-simple-icons-github inline-block"
                              />
                            ))
                            .with({ twitter: P.string }, ({ twitter }) => (
                              <a
                                href={twitter}
                                aria-label={`Twitter account of ${author.name}`}
                                class="i-simple-icons-x inline-block"
                              />
                            ))
                            .with({ facebook: P.string }, ({ facebook }) => (
                              <a
                                href={facebook}
                                aria-label={`Facebook page of ${author.name}`}
                                class="i-simple-icons-facebook inline-block"
                              />
                            ))
                            .with({ linkedin: P.string }, ({ linkedin }) => (
                              <a
                                href={linkedin}
                                aria-label={`LinkedIn page of ${author.name}`}
                                class="i-simple-icons-linkedin inline-block"
                              />
                            ))
                            .with({ medium: P.string }, ({ medium }) => (
                              <a
                                href={medium}
                                aria-label={`Medium blog of ${author.name}`}
                                class="i-simple-icons-medium inline-block"
                              />
                            ))
                            .with({ hashnode: P.string }, ({ hashnode }) => (
                              <a
                                href={hashnode}
                                aria-label={`Hashnode blog of ${author.name}`}
                                class="i-simple-icons-hashnode inline-block"
                              />
                            ))
                            .with({ tistory: P.string }, ({ tistory }) => (
                              <a
                                href={tistory}
                                aria-label={`Tistory blog of ${author.name}`}
                                class="i-simple-icons-tistory inline-block"
                              />
                            ))
                            .exhaustive()}
                        </li>
                      ))}
                    </ul>
                  )}
                </div>
              </div>
            )
          }
          <hr />
        </div>
        <aside
          class="mx-4 hidden max-w-300px min-w-250px flex-shrink-0 lg:block"
        >
          <div class="sticky top-14 overflow-hidden py-4">
            <div class="my-2 text-sm text-slate-8 font-medium">목차</div>
            <TableOfContents
              client:idle
              theme="aside"
              items={itemsFromHeadings(headings)}
            />
          </div>
        </aside>
      </div>
    </article>
    <div class="my-16 flex flex-col gap-6 px-4">
      <h2 class="text-1.375rem text-slate-5 font-semibold">최신 글 보기</h2>
      <PostList entries={entries} />
    </div>
  </div>
</LayoutBase>
