---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { P, match } from "ts-pattern";
import authors from "~/content/blog/_authors.yaml";
import ProfileImage from "~/components/blog/ProfileImage.astro";

interface Props {
  entry: CollectionEntry<"blog">;
}

const {
  entry: { slug, data },
} = Astro.props;

const { author: authorId } = data;
const author = authors[authorId];
const thumbnailProps = match(data.thumbnail)
  .with(P.string, (thumbnail) => ({
    src: thumbnail,
    width: 600,
    height: 400,
  }))
  .otherwise((thumbnail) => ({ src: thumbnail }));
---

<li class="text-17px flex h-fit flex-col gap-4">
  <div class="aspect-6/4">
    <div
      class="rounded-12px grid h-full w-full grid-cols-1 grid-rows-1 overflow-hidden border"
    >
      <a
        href={`/blog/posts/${slug}`}
        class="col-start-1 col-end-2 row-start-1 row-end-2 h-full w-full"
      >
        <Image
          {...thumbnailProps}
          alt={`Thumbnail image of ${data.title}`}
          class="bg-slate-2 h-full w-full object-cover text-transparent"
        />
      </a>
      <div
        class="col-start-1 col-end-2 row-start-1 row-end-2 m-2.5 flex self-end justify-self-start"
      >
        <ProfileImage>
          <Image
            src={`https://github.com/${authorId}.png`}
            alt={`Avatar image of ${author?.name ?? authorId}`}
            width={48}
            height={48}
            class="bg-slate-2 rounded-full"
          />
        </ProfileImage>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <a
      href={`/blog/posts/${slug}`}
      class="flex h-full flex-col justify-between gap-2"
    >
      <span class="text-slate-7 text-19px font-semibold">
        {data.title}
        {
          !data.draft && (
            <span class="text-slate-5 text-lg font-normal leading-[1.4]">
              (Draft)
            </span>
          )
        }
      </span>
      <span class="text-slate-5">{data.description}</span>
    </a>
    <ul class="flex gap-3">
      {
        data.tags.map((tag) => (
          <a href={`/blog/tags/${encodeURIComponent(tag)}`}>
            <li class="text-portone">{tag}</li>
          </a>
        ))
      }
    </ul>
  </div>
</li>
