---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { match, P } from "ts-pattern";

import ProfileImage from "~/components/blog/ProfileImage.astro";
import authors from "~/content/blog/_authors.yaml";

import TagList from "../TagList.astro";

interface Props {
  entry: CollectionEntry<"blog">;
}

const {
  entry: { slug, data },
} = Astro.props;

const { author: authorId } = data;
const author = authors[authorId];
const thumbnailProps = match(data.thumbnail)
  .with(P.string, (thumbnail) => ({
    src: thumbnail,
    width: 600,
    height: 400,
  }))
  .otherwise((thumbnail) => ({ src: thumbnail }));
---

<li class="h-fit flex flex-col gap-4 text-17px">
  <div
    class="grid grid-cols-1 grid-rows-1 h-full w-full overflow-hidden border rounded-12px"
  >
    <a
      href={`/blog/posts/${slug}`}
      class="col-start-1 row-start-1 col-end-2 row-end-2 h-full w-full"
    >
      <Image
        {...thumbnailProps}
        alt={`Thumbnail image of ${data.title}`}
        class="aspect-6/4 h-full w-full bg-white object-contain text-transparent"
      />
    </a>
    <div
      class="col-start-1 row-start-1 col-end-2 row-end-2 m-2.5 flex self-end justify-self-start"
    >
      <ProfileImage>
        <Image
          src={`https://github.com/${authorId}.png`}
          alt={`Avatar image of ${author?.name ?? authorId}`}
          width={48}
          height={48}
          class="rounded-full bg-slate-2"
        />
      </ProfileImage>
    </div>
  </div>
  <div class="flex flex-col gap-3">
    <a
      href={`/blog/posts/${slug}`}
      class="h-full flex flex-col justify-between gap-2"
    >
      <span class="text-19px text-slate-7 font-semibold">
        {data.title}
        {
          data.draft && (
            <span class="text-lg text-slate-5 font-normal leading-[1.4]">
              (Draft)
            </span>
          )
        }
      </span>
      <span class="text-slate-5">{data.description}</span>
    </a>
    <TagList tags={data.tags} variant="compact" />
  </div>
</li>
