---
import { getCollection } from "astro:content";

import * as prose from "~/components/prose";
import ArticleStyle from "~/layouts/ArticleStyle.astro";
import Logo from "~/layouts/gnb/Logo.astro";
import MobileMenuButton from "~/layouts/gnb/MobileMenuButton";
import LeftSidebar from "~/layouts/sidebar/LeftSidebar.astro";
import { JustLink } from "~/layouts/sidebar/LeftSidebarItem";
import RightSidebar, { headingsToToc } from "~/layouts/sidebar/RightSidebar";
import Trackers from "~/layouts/trackers/Trackers.astro";
import TrackingScript from "~/layouts/TrackingScript.astro";
import type { Lang } from "~/type";

const lang: Lang = "ko";
const { slug } = Astro.props;
const docEntries = await getCollection("docs");
const entry = docEntries.find((entry) => entry.slug === `ko/api-v2/${slug}`);
if (!entry) return new Response(null, { status: 404 });
const { title, description } = entry.data;
const mdx = await entry.render();
const Content = mdx.Content;

const toc = headingsToToc("ko", mdx.headings);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <Trackers />
  </head>
  <body>
    <TrackingScript />
    <style is:global>
      :root {
        word-break: break-all;
        overflow-wrap: break-word;
        scroll-behavior: smooth;
      }

      html,
      body {
        height: 100%;
      }
    </style>
    <ArticleStyle />
    <div class="h-full flex flex-col">
      <div class="h-14">
        <header
          class="fixed z-10 h-inherit w-full flex items-center justify-between border-b bg-white pl-6"
        >
          <div class="h-full flex items-center gap-20">
            <a
              class="h-full inline-flex items-center"
              href="/api/rest-v2-legacy"
            >
              <div class="flex items-center gap-2">
                <Logo class="w-22" />
                <span>V2 API - Beta</span>
              </div>
            </a>
          </div>
          <MobileMenuButton client:visible />
        </header>
      </div>
      <main class="min-h-0 flex-1">
        <div class="flex">
          <LeftSidebar>
            <div class="flex flex-col gap-2 p-4 text-center">
              <span class="text-sm text-red-5"
                >Deprecated 된 API 문서입니다</span
              >
              <a
                href="/api/rest-v2"
                class="mx-4 border rounded p-2 font-bold hover:bg-slate-1"
                >최신 문서 보기</a
              >
            </div>
            <hr class="mb-4 mt-2" />
            <div class="flex flex-col gap-1 p-2">
              {
                [
                  { title: "V2 API 시작하기", slug: "v2-api" },
                  { title: "인증 관련 API", slug: "authorization" },
                  { title: "채널 관련 API", slug: "channel" },
                  { title: "결제 관련 API", slug: "payment" },
                  { title: "본인인증 관련 API", slug: "identity-verification" },
                  { title: "현금영수증 관련 API", slug: "cash_receipt" },
                  { title: "정기결제 관련 API", slug: "schedule" },
                  { title: "빌링키 관련 API", slug: "billing_key" },
                  {
                    title: "가맹점관리 관련 API - 별도 계약 필요",
                    slug: "store",
                  },
                  {
                    title: "온보딩 API - 별도 계약 필요",
                    slug: "applications",
                  },
                ].map((item) => (
                  <JustLink
                    title={item.title}
                    href={`/api/rest-v2-legacy/${item.slug}`}
                    isActive={item.slug === slug}
                  />
                ))
              }
            </div>
          </LeftSidebar>
          <div class="flex flex-1 justify-center">
            <article
              class="m-4 flex shrink-1 basis-200 flex-col text-slate-700"
            >
              <prose.h1 id="overview">
                {title}
              </prose.h1>
              {
                description && (
                  <p class="my-4 text-xl text-gray">{description}</p>
                )
              }
              <Content components={prose} />
            </article>
            <div class="hidden shrink-10 basis-10 lg:block"></div>
            <RightSidebar
              lang={lang}
              slug={slug}
              toc={toc}
              editThisPagePrefix="https://github.com/portone-io/developers.portone.io/blob/main/src/content/docs/ko/api-v2/"
              client:idle
            />
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
