---
import type { CollectionEntry } from "astro:content";

import * as prose from "~/components/prose";
import LayoutBase from "~/layouts/LayoutBase.astro";
import DocsNavMenu from "~/layouts/sidebar/DocsNavMenu.astro";
import RightSidebar from "~/layouts/sidebar/RightSidebar";
import { SearchScreen } from "~/layouts/sidebar/search";
import { overrideDocData } from "~/state/server-only/docData";
import { calcNavMenuSystemVersions, navMenu } from "~/state/server-only/nav";
import { overrideSystemVersion } from "~/state/system-version/server";
import type { Lang } from "~/type";

interface Props {
  lang: Lang;
  slug: string;
  entry: CollectionEntry<"docs">;
}
const { lang, slug, entry } = Astro.props;
const { title, description, targetVersions } = entry.data;
const mdx = await entry.render();
const Content = mdx.Content;

const navMenuItems = navMenu[lang] || [];
const navMenuSystemVersions = calcNavMenuSystemVersions(navMenuItems);

if (targetVersions && targetVersions.length === 1) {
  overrideSystemVersion(targetVersions[0]!);
}
overrideDocData(entry.data);
---

<LayoutBase
  lang={lang}
  title={title}
  description={description}
  slug={`docs${slug}`}
  ogType="article"
  ogImageSlug={`docs${slug}.png`}
>
  <div class="flex">
    <DocsNavMenu lang={lang} slug={slug} />
    <div class="min-w-0 flex flex-1 justify-center">
      <article
        class="m-4 mb-40 min-w-0 flex shrink-1 basis-200 flex-col text-slate-700"
      >
        <div class="mb-6">
          <prose.h1 id="overview">
            {title}
          </prose.h1>
          {description && <p class="text-gray">{description}</p>}
        </div>
        <Content components={prose} />
      </article>
      <div class="hidden shrink-10 basis-10 lg:block"></div>
      <RightSidebar lang={lang} slug={slug} client:idle />
    </div>
  </div>
  <SearchScreen
    lang={lang}
    navMenuSystemVersions={navMenuSystemVersions}
    client:idle
  />
</LayoutBase>
