---
import type { Lang } from "~/type";

import ArticleStyle from "./ArticleStyle.astro";
import Gnb from "./gnb/Gnb.astro";
import SidebarBackground from "./sidebar/SidebarBackground";
import Trackers from "./Trackers.astro";
import TrackingScript from "./TrackingScript.astro";

interface Props {
  lang: Lang;
  title: string;
  description?: string | undefined;
  navAsMenu?: boolean | undefined;
  slug?: string | undefined;
  ogType?: string | undefined;
  ogImageSlug?: string | undefined;
}

const {
  lang,
  title,
  description,
  navAsMenu,
  slug = "",
  ogType = "website",
  ogImageSlug = "opengraph.png",
} = Astro.props;
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <script>
      import "pretendard/dist/web/variable/pretendardvariable-dynamic-subset.css";
    </script>
    <slot name="og">
      <meta property="og:title" content={title} />
      {description && <meta property="og:description" content={description} />}
      <meta property="og:type" content={ogType} />
      <meta property="og:url" content={`${Astro.site}${slug}`} />
      <meta property="og:image" content={`${Astro.site}${ogImageSlug}`} />
      <meta name="twitter:card" content="summary_large_image" />
    </slot>
    <Trackers />
  </head>
  <body>
    <TrackingScript />
    <style is:global>
      :root {
        word-break: break-all;
        overflow-wrap: break-word;
        scroll-behavior: smooth;
        font-family:
          "Pretendard Variable",
          Pretendard,
          -apple-system,
          BlinkMacSystemFont,
          system-ui,
          Roboto,
          "Helvetica Neue",
          "Segoe UI",
          "Apple SD Gothic Neo",
          "Noto Sans KR",
          "Malgun Gothic",
          "Apple Color Emoji",
          "Segoe UI Emoji",
          "Segoe UI Symbol",
          sans-serif;
      }

      html,
      body {
        height: 100%;
      }

      .waiting {
        transform-origin: center;
        animation-name: waiting-outer;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      .waiting circle {
        transform-origin: center;
        animation-name: waiting-inner;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
      @keyframes waiting-outer {
        from {
          transform: rotate(0);
        }
        to {
          transform: rotate(1turn);
        }
      }
      /* 12 * 2pi = 75.3982... */
      @keyframes waiting-inner {
        0% {
          transform: rotate(0);
          stroke-dasharray: 0 0 0 0 999;
        }
        25% {
          transform: rotate(0.5turn);
          stroke-dasharray: 0 0 0 75.4 999;
        }
        50% {
          transform: rotate(1turn);
          stroke-dasharray: 0 0 75.4 75.4 999;
        }
        75% {
          transform: rotate(1.5turn);
          stroke-dasharray: 0 75.4 75.4 75.4 999;
        }
        100% {
          transform: rotate(2turn);
          stroke-dasharray: 75.4 75.4 75.4 75.4 999;
        }
      }
    </style>
    <ArticleStyle />
    <div class="h-full flex flex-col">
      <Gnb lang={lang} navAsMenu={navAsMenu ?? false} />
      <SidebarBackground client:visible />
      <main class="min-h-0 flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>
