---
import { format } from "date-fns";
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";

import LayoutBase from "~/layouts/LayoutBase.astro";
import * as prose from "~/components/prose.solid";
import Banner from "~/components/release-note/Banner.astro";
import Footer from "~/components/release-note/Footer.astro";
import { getReleaseNotes } from "~/misc/releaseNote";
import Nav from "~/layouts/release-notes/Nav.astro";

export async function getStaticPaths() {
  const { apiSdkNotes, consoleNotes } = await getReleaseNotes();
  return [
    ...apiSdkNotes.map(({ slug, entry }) => ({
      params: { slug },
      props: { entry, apiSdkNotes, consoleNotes },
    })),
    ...consoleNotes.map(({ slug, entry }) => ({
      params: { slug },
      props: { entry, apiSdkNotes, consoleNotes },
    })),
  ];
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;
const { entry, apiSdkNotes, consoleNotes } = Astro.props as Props;
const { releasedAt, writtenAt } = entry.data;
const { Content } = await entry.render();

const label = apiSdkNotes.some((note) => note.slug === slug)
  ? "API / SDK"
  : "관리자콘솔";
const title = `${format(releasedAt, "yyyy-MM-dd")} ${label} 업데이트`;
---

<LayoutBase lang="ko" title={title}>
  <div class="flex">
    <aside
      id="left-sidebar"
      class="w-65 relative hidden shrink-0 text-slate-700 md:block"
    >
      <div
        class="w-inherit fixed h-[calc(100%-3.5rem)] overflow-y-scroll border-r bg-white"
      >
        <Nav
          consoleNotes={consoleNotes}
          apiSdkNotes={apiSdkNotes}
          activeSlug={slug}
        />
      </div>
    </aside>
    <div class="basis-200 mx-auto shrink">
      <article class="m-4 flex flex-col text-slate-700">
        <prose.h1>{title}</prose.h1>
        <p class="text-gray my-4 text-xl">
          {format(releasedAt, "yyyy년 M월 d일")}
          {label} 업데이트 소식을 안내드립니다.
        </p>
        <Banner />
        <Content components={prose} />
        <Footer date={format(writtenAt, "yyyy년 M월 d일")} />
      </article>
    </div>
  </div>
</LayoutBase>
