---
import { format } from "date-fns";

import * as prose from "~/components/prose";
import Banner from "~/components/release-note/Banner.astro";
import Footer from "~/components/release-note/Footer.astro";
import LayoutBase from "~/layouts/LayoutBase.astro";
import Nav from "~/layouts/release-notes/Nav.astro";
import { getReleaseNotes } from "~/misc/releaseNote";

const { slug } = Astro.params;
if (!slug) return new Response(null, { status: 404 });
const { apiSdkNotes, consoleNotes } = await getReleaseNotes();
const { entry } =
  [...apiSdkNotes, ...consoleNotes].find((entry) => entry.slug === slug) ?? {};
if (!entry) return new Response(null, { status: 404 });

const type = entry.slug.startsWith("api-sdk") ? "apiSdkNotes" : "consoleNotes";
const { releasedAt, writtenAt } = entry.data;
const { Content } = await entry.render();
const label = {
  apiSdkNotes: "API / SDK",
  consoleNotes: "관리자콘솔",
}[type];
const title = `${format(releasedAt, "yyyy-MM-dd")} ${label} 업데이트`;
---

<LayoutBase
  lang="ko"
  title={title}
  slug={`release-notes/${slug}`}
  ogType="article"
  ogImageSlug={`release-notes/${slug}.png`}
  navAsMenu
>
  <div class="flex">
    <aside
      id="left-sidebar"
      class="relative hidden w-65 shrink-0 text-slate-700 md:block"
    >
      <div
        class="fixed h-[calc(100%-3.5rem)] w-inherit overflow-y-scroll border-r bg-white"
      >
        <Nav
          consoleNotes={consoleNotes}
          apiSdkNotes={apiSdkNotes}
          activeSlug={slug}
        />
      </div>
    </aside>
    <div class="mx-auto shrink basis-200">
      <article class="m-4 flex flex-col text-slate-700">
        <prose.h1>{title}</prose.h1>
        <p class="my-4 text-xl text-gray">
          {format(releasedAt, "yyyy년 M월 d일")}
          {label} 업데이트 소식을 안내드립니다.
        </p>
        <Banner />
        <Content components={prose} />
        <Footer date={format(writtenAt, "yyyy년 M월 d일")} />
      </article>
    </div>
  </div>
</LayoutBase>
